@import "../../global.scss";

.footer {
    height: 55vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-container {
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .icons {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3.5rem;

            .icon {
                height: 2.5rem;
                width: 2.5rem;
                margin: 0 2rem;
            }
        }

        .footer-list {
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5rem;
            margin-top: 3.5rem;

            .footer-item {
                list-style: none;
                margin-left: 2rem;
                font-size: 1rem;
                font-weight: 500;

                a {
                    text-decoration: none;
                    color: $snow;
                }

                &:hover {
                    border-bottom: 2px solid $tangerine;
                }
                
            }
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;

            .mountain {
                height: 4.5rem;
                margin-right: 0.75rem;
                margin-left: -5rem;
            }

            h3 {
                font-size: 2rem;
                font-weight: 500;
                text-transform: uppercase;
                width: 2rem;
                color: $snow;

                span {
                    margin-left: -1.45rem;
                }
            }
        }
    }
}