@import "./global.scss";

html {
    background-color: $grey;

    body {
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;
    
        .sections {
            height: 100vh;
            overflow-y: scroll;
            scroll-behavior: smooth;
        }
    
        .blur {
            background-color: $burnt;
            position: absolute;
            border-radius: 50%;
            filter: blur(150px);
            z-index: -9;
        }
    }
}
